body {
  font-family: "Open Sans", serif;
  font-size: 12px;
  line-height: 28px;
  background-color: #FFFFFF;
  color: #000000;
}
header {
  width: 100%;
  height: 7em;
  background: url("../images/header_background.png");
  background-size: cover;
  display: inline-block;
}
header img {
  float: left;
  width: 4rem;
  height: auto;
  padding: 2em 0 0 2em;
}
h1 {
  color: #990000;
  font-family: "Lemonada", cursive;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.6rem;
  margin-top: 1.6rem / 4;
  margin-bottom: 1.6rem / 4;
  text-transform: uppercase;
  text-align: center;
  padding: 1.1em 0 0 0.5em;
}
nav .hamburger {
  background: none;
  position: relative;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 5px 15px 0 15px;
  color: #999;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
nav .cross {
  background: none;
  position: relative;
  padding: 7px 15px 7px 15px;
  color: #999;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
nav .menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f1f1f1;
  position: absolute;
  text-align: center;
  font-size: 12px;
}
nav .menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
nav .menu li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
nav .menu li:hover {
  display: block;
  background: #ffffff;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
nav .menu ul li a {
  text-decoration: none;
  margin: 0;
  color: #666;
}
nav .menu ul li a:hover {
  color: #666;
  text-decoration: none;
}
nav .menu a {
  text-decoration: none;
  color: #666;
}
nav .menu a:hover {
  text-decoration: none;
  color: #666;
}
main {
  padding: 1em;
  width: 100%;
}
main .top {
  border: 1px solid #3c3c3c;
}
main h2 {
  color: #ff0000;
  font-family: "Lemonada", cursive;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.4em;
  margin-top: 1.4em / 4;
  margin-bottom: 1.4em / 4;
  text-transform: uppercase;
  text-align: center;
}
main h3 {
  color: #CC0000;
  font-family: "Lemonada", cursive;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
  margin-top: 1.2em / 4;
  margin-bottom: 1.2em / 4;
  text-transform: uppercase;
  text-align: center;
}
main p {
  font-weight: bold;
  margin-bottom: 1em;
}
footer {
  background-color: #000000;
  color: #ff6666;
  clear: both;
  text-align: center;
  padding-top: 1em;
}
footer h3 {
  text-decoration: underline;
  color: #FFFFFF;
  font-family: "Lemonada", cursive;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  margin-top: 1em / 4;
  margin-bottom: 1em / 4;
  text-transform: uppercase;
}
footer ul {
  text-align: center;
  list-style-type: none;
  padding: 1em;
}
footer ul li {
  display: inline-block;
  text-decoration: none;
}
footer ul li a:link {
  color: #ffb975;
}
footer ul li a:visited {
  color: #dd0000;
}
footer ul li a:hover {
  transform: scale(1.1);
  display: inline-block;
}
@media only screen and (min-width: 480px) {
  .hamburger,
  .cross {
    display: none;
  }
  nav .menu {
    display: inline-block;
  }
  .top {
    float: left;
    width: 70%;
    height: auto;
  }
  aside {
    display: block;
    float: right;
    width: 20%;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */